:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: #444668;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  justify-content: center;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button_remover{
   border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  margin: 3px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff000071;
  cursor: pointer;
  transition: border-color 0.25s;

}

.button_adicionar {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
 
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


input{
  padding: 11px;
  margin-right: 10px;
  width: 30em;
  border-style: none;
  border-radius: 10px;
}



